@use '../base' as *;

/* -------------------------------- 

File#: _1_preloader
Title: Preloader

-------------------------------- */

.spinner-wrapper {
    &.done {
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
